<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fraz7.myapplication">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".selectionsort_stdy">
        </activity>
        <activity android:name=".selectionSort">
        </activity>
        <activity android:name=".heapsort_stdy">
        </activity>
        <activity android:name=".heapSort">
        </activity>
        <activity android:name=".insertionsort_stdy">
        </activity>
        <activity
                android:name=".bubblesortStudy"
                android:parentActivityName=".MainActivity">
        </activity>
        <activity
                android:name=".insertionSort"
                android:parentActivityName=".MainActivity">
        </activity>
        <activity
                android:name=".busort"
                android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>